# developed by zhayyn™

# 1. MENGHILANGKAN EXTENSION .PHP DI URL
RewriteEngine On

# 1a. URL KANONIK: PAKSA .php -> tanpa .php (hanya request asli dari browser)
RewriteCond %{THE_REQUEST} \.php[\s?] [NC]
RewriteRule ^(.+)\.php$ /lawangsewu/$1 [R=301,L]

# 1b. INTERNAL REWRITE: tanpa .php -> file .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# developed by zhayyn™

# 2. MEMBUNUH CACHE SECARA PAKSA DARI JANTUNG SERVER
<FilesMatch "\.(php|html|css|js)$">
    FileETag None
    <IfModule mod_headers.c>
        Header unset ETag
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </IfModule>
</FilesMatch>
# 3. Pasang Iframe cuyyyyyyyyyyyyyyy
Header set Content-Security-Policy "frame-ancestors 'self' https://pa-semarang.go.id https://*.pa-semarang.go.id;"
# developed by zhayyn™
