[Unit]
Description=WA Runtime untuk Lawangsewu (Instance Terpisah dari Sinofita)
After=network.target mysql.service

[Service]
Type=simple
User=dbprakom
WorkingDirectory=/home/dbprakom/wa-lawangsewu
ExecStart=/usr/bin/node /home/dbprakom/wa-lawangsewu/index.js
Restart=always
RestartSec=10
StandardOutput=append:/home/dbprakom/wa-lawangsewu/runtime.log
StandardError=append:/home/dbprakom/wa-lawangsewu/runtime.log
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
